@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ------------------------------------------------------------ */
/* ----------------------  General Rules ---------------------- */
/* ------------------------------------------------------------ */

html{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background-color: #1f1e1e;
    color: #ffffff;
}

h1 {
    font-family: 'Antonio', sans-serif;
}

/* ------------------------------------------------------------ */
/* ---------------------  Navigation Menu --------------------- */
/* ------------------------------------------------------------ */

body nav{
    position: fixed;
    z-index: 2;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    background-color: rgba(58, 57, 57, 0.60);
}

body nav .onglets{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

body nav .onglets :hover{
    width: fit-content;
    margin-bottom: -1.5rem;
    padding-bottom: 1.3rem;
    border-bottom: 0.2rem solid #ffffff;
}

body nav .onglets img {
    width: 1rem;
    margin-left: 1rem;
    margin-bottom: -0.2rem;
}

body nav .onglets img:hover {
    width: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border-bottom: none;
}

body nav .onglets a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10rem;
}

body nav .onglets .menu:hover {
    border-bottom: none;
}

body nav .onglets .menu:hover .submenu {
    display: block; /* Show submenu on hover */
    padding-bottom: 1.3rem;
}

body nav .onglets .menu .submenu {
    display: none; /* Hide submenu by default */
    position: absolute;
    top: 76%; /* Position below the parent link */
    list-style: none;
    z-index: 1; /* Ensure it appears above other content */
    width: max-content;
    padding-top: 1rem;
    background-color: rgba(58, 57, 57, 0.60);
}

body nav .onglets .menu .submenu:hover {
    border-bottom: none;
}

body nav .onglets .menu .submenu a {
    display: block;
    border-bottom: none;
    padding-bottom: 0.6rem;
    margin-bottom: 0.1rem;
}

body nav .onglets .menu .submenu li {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------- */
/* --------------  Image : Logo, Background color -------------- */
/* ------------------------------------------------------------- */

body{
    margin: 0;
    padding: 0;
}

body .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)), url('../resources/restaurant/interior_image.jpg');
    background-position: center 20%;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-size: cover; /* Resize the background image to cover the entire background */
    color: #ffffff;
    min-height: 30vh;
    max-height: 30vh;
}

/* ---------------------------  Logo --------------------------- */

body .logo{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: left;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
}

body .logo a {
    width: 8rem;
    transition: ease 0.3s;
    border-radius: 50%;
}

body .logo a:hover{
    opacity: 0.7;
    transition: ease 0.3s;
}

body .logo a img{
    max-width: 100%;
    max-height: 100%;
    width: 8rem;
    border-radius: 50%;
    background-color: rgba(39, 38, 38, 0.849);
}

/* ---------------------  'Text' over background image --------------------- */

body .text-header {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

body .text-header img {
    min-height: 50%;
    max-height: 50%;
}

/* ------------------------------------------------------------- */
/* ---------------------------  Main --------------------------- */
/* ------------------------------------------------------------- */

body main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

body main .imgFull {
    display: none;
}

body main .categories {
    margin-top: 17rem;
    max-height: 80%;
    width: 100%;
    text-align: center;
    font-size: large;
    border-top: 0.3rem solid #ddd;
}

body main .categories .images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
    background-color: #000;
    border-top: 0.3rem solid #ddd;
    border-bottom: 0.3rem solid #ddd;
    grid-auto-rows: 1fr;
}

body main .categories .images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ----------------------------------  Now ---------------------------------- */

.now .i2 {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1 / 2;
    object-position: 0% center;
}

.now .i3,
.now .i7 {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;
}

.now .i1,
.now .i5,
.now .i4 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
}

.now .i6 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
    object-position: center 10%;
}

/* ------------------------------- Renovations ------------------------------ */

.renovations .i2 {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1 / 2;
}

.renovations .i3,
.renovations .i5,
.renovations .i6,
.renovations .i8 {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;
}

.renovations .i1,
.renovations .i4 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
}

.renovations .i7 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
    object-position: center 10%;
}

/* ---------------------------------  Before -------------------------------- */

.before .i3 {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1 / 2;
    object-position: 30% center;
}

.before .i2,
.before .i5,
.before .i7,
.before .i8 {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;
}

.before .i1,
.before .i4 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
}

.before .i6 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
    object-position: center 10%;
}

/* Optional: hover effect for images */
body main .categories .images-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* ------------------------------------------------------------- */
/* -------------  Footer : Legal Notices, Contacts ------------- */
/* ------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
}

footer .contacts {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* --------------------  Phone adaptation -------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

@media (max-width: 480px) {

    /* ------------------------------------------------------------ */
    /* ---------------------  Navigation Menu --------------------- */
    /* ------------------------------------------------------------ */
    
    body nav {
        flex-direction: column;
        padding-left: 4rem;
    }

    body nav .onglets a {
        font-size: 0.8rem;
        margin-right: 1rem;
    }

    body nav .onglets {
        font-size: 0.8rem;
    }

    body nav .onglets img{
        width: 1rem;
        margin-left: 0.5rem;
    }

    body nav .onglets .menu:focus-within .submenu {
        display: block;
    }
    
    /* ------------------------------------------------------------- */
    /* --------------  Image : Logo, Background color -------------- */
    /* ------------------------------------------------------------- */
    
    body .header {
        min-height: 30vh;
        max-height: 30vh;
    }

    body .logo {
        margin-top: 0.6rem;
        margin-left: 0.5rem;
    }

    body .logo a {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    body .logo a img {
        width: 3rem;
    }

    body .text-header {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        padding-top: 0rem;
    }

    /* ------------------------------------------------------------- */
    /* ---------------------------  Main --------------------------- */
    /* ------------------------------------------------------------- */

    body main {
        margin-top: -0.2rem;

    }

    body main .imgFull {
        display: none; /* Hidden by default */
        position: absolute; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 5rem; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    body main .imgFull .imgFullIMG {
        margin-top: 3rem;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 95%;
        max-width: 95%;
    }

    body main .imgFull .close {
        position: absolute;
        top: 4rem;
        right: 1rem;
        color: #f1f1f1;
        font-size: 3rem;
        font-weight: bold;
        transition: 0.3s;
    }
      
    body main .imgFull .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    body main .categories .images-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }

    /* ----------------------------------  Now ---------------------------------- */

    .now .i2,
    .now .i4,
    .now .i6 {
        grid-column: span 1;
        grid-row: span 2;
        aspect-ratio: 1 / 2;
    }
    
    .now .i3,
    .now .i5 {
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1 / 1;
    }
    
    .now .i1,
    .now .i7,
    .now .i8 {
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: 2 / 1;
    }

    /* ---------------------------------  Before -------------------------------- */

    .before .i3 {
        grid-column: span 1;
        grid-row: span 2;
        aspect-ratio: 1 / 2;
    }

    .before .i1,
    .before .i5,
    .before .i6,
    
    .before .i8 {
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1 / 1;
    }

    .before .i2,
    .before .i4 {
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: 2 / 1;
    }

    .before .i7 {
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: 2 / 1;
    }

    /* ------------------------------------------------------------- */
    /* -------------  Footer : Legal Notices, Contacts ------------- */
    /* ------------------------------------------------------------- */
    
    footer {
        flex-direction: column; /* Stack footer sections vertically on mobile */
        align-items: center; /* Center align all footer sections */
        text-align: center; /* Center text for all sections */
    }

    footer .contacts {
        padding-right: 0; /* Remove right padding on mobile */
        padding-top: 1rem; /* Add top padding for spacing */
        align-items: center; /* Center align contacts on mobile */
    }

    footer .contacts div {
        text-align: center; /* Center align each contact detail on mobile */
    }
}