@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ------------------------------------------------------------ */
/* ----------------------  General Rules ---------------------- */
/* ------------------------------------------------------------ */

html{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background-color: #1f1e1e;
}

h1 {
    font-family: 'Antonio', sans-serif;
}

/* ------------------------------------------------------------ */
/* ---------------------  Navigation Menu --------------------- */
/* ------------------------------------------------------------ */

body nav{
    position: fixed;
    z-index: 2;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    background-color: rgba(58, 57, 57, 0.60);
}

body nav .onglets{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

body nav .onglets :hover{
    width: fit-content;
    margin-bottom: -1.5rem;
    padding-bottom: 1.3rem;
    border-bottom: 0.2rem solid #ffffff;
}

body nav .onglets a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10rem;
}

body nav .onglets .menu:hover {
    border-bottom: none;
}

body nav .onglets .menu:hover .submenu {
    display: block; /* Show submenu on hover */
    padding-bottom: 1.3rem;
}

body nav .onglets .menu .submenu {
    display: none; /* Hide submenu by default */
    position: absolute;
    top: 76%; /* Position below the parent link */
    list-style: none;
    z-index: 1; /* Ensure it appears above other content */
    width: max-content;
    padding-top: 1rem;
    background-color: rgba(58, 57, 57, 0.60);
}

body nav .onglets .menu .submenu:hover {
    border-bottom: none;
}

body nav .onglets .menu .submenu a {
    display: block;
    border-bottom: none;
    padding-bottom: 0.6rem;
    margin-bottom: 0.1rem;
}

body nav .onglets .menu .submenu li {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------- */
/* --------------  Image : Logo, Background color -------------- */
/* ------------------------------------------------------------- */

body{
    margin: 0;
    padding: 0;
}

body .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)), url('../resources/interior_image.jpg');
    background-position: center 20%;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-size: cover; /* Resize the background image to cover the entire background */
    color: #ffffff;
    min-height: 100vh;
    max-height: 100vh;
}

/* ---------------------------  Logo --------------------------- */

body .logo{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: left;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
}

body .logo a {
    width: 8rem;
    transition: ease 0.3s;
}

body .logo a:hover{
    opacity: 0.7;
    transition: ease 0.3s;
}

body .logo a img{
    max-width: 100%;
    max-height: 100%;
    width: 8rem;
    border-radius: 50%;
    background-color: rgba(39, 38, 38, 0.849);
}

/* -------------------------  Language ------------------------- */

body .language{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: right;
    right: 1rem;
    top: 1rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

body .language img {
    width: 2rem;
    transition: ease 0.3s;
}

body .language img:hover{
    opacity: 0.7;
    transition: ease 0.3s;
}

body .language .sublanguage {
    display: none; /* Hide submenu by default */
    position: absolute;
    justify-content: right;
    left: -3rem;
    top: -1rem;
    list-style: none;
    flex-direction: row-reverse;
    z-index: 1; /* Ensure it appears above other content */
    width: 0rem;
    height: 2rem;
    cursor: default;
}

body .language .sublanguage a {
    margin-right: 1.5rem;
}

body .language .sublanguage img{
    max-width: 100%;
    max-height: 100%;
    height: 3rem;
    margin-right: 2rem;
    opacity: 0.7;
}

/* --------------------  Animation Language -------------------- */

@keyframes slideInLanguage {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 0.7;
        transform: translateX(0);
    }
}

@keyframes slideOutLanguage {
    from {
        opacity: 0.7;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

body .language .sublanguage:hover {
    border-bottom: none;
}

body .language .sublanguage img:hover{
    opacity: 1;
    transition: ease 0.3s;
}

/* ------------------------------------------------------------- */
/* --------------------  Main : Card dishes -------------------- */
/* ------------------------------------------------------------- */

body main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: This ensures the main element takes the full viewport height */
    z-index: 1;
    
}

body main .card {
    padding-top: 6rem;
    max-height: 80%;
    width: auto; /* Ensures the image scales properly */
}

body main .arrowIMG{
    margin-top: auto;
    cursor: pointer;
    width: 2rem;
    height: auto;
    z-index: 1;
}

/* ------------------------------------------------------------- */
/* -------------  Footer : Legal Notices, Contacts ------------- */
/* ------------------------------------------------------------- */

footer {
    display: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: #ffffff;
    background-color: #000000;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
}

footer .contacts {
    padding-left: 20%;
}

footer .copyright {
    padding-left: 20%;
}


@media (max-width: 480px) {

/* ------------------------------------------------------------ */
/* ---------------------  Navigation Menu --------------------- */
/* ------------------------------------------------------------ */

    body nav {
        flex-direction: column;
        padding-left: 4rem;
    }

    body nav .onglets a {
        font-size: 0.8rem;
        margin-right: 1.3rem;
    }

    body nav .onglets {
        font-size: 0.8rem;
    }

/* ------------------------------------------------------------- */
/* --------------  Image : Logo, Background color -------------- */
/* ------------------------------------------------------------- */

    body .header {
        min-height: 90vh;
        max-height: 90vh;
    }

    body .logo {
        margin-top: 0.6rem;
        margin-left: 0.5rem;
    }

    body .logo a {
        width: 3rem;
    }

    body .logo a img {
        width: 3rem;
    }

/* -------------------------  Language ------------------------- */

    body .language {
        right: 4rem;
        top: 5rem;
    }

    body .language .sublanguage img {
        height: 2rem;
        margin-right: 2rem;
    }

/* ------------------------------------------------------------- */
/* --------------------  Main : Card dishes -------------------- */
/* ------------------------------------------------------------- */

    body main .card {
        margin-top: -12rem;
        width: 90%;
        height: auto;
    }

    /* body main .card { /////with arrow
        margin-top: 2rem;
        width: 90%;
        height: auto;
    } */


    body main .arrowIMG {
        display: none;
        margin-top: auto;
        width: 1.5rem;
    }

/* ------------------------------------------------------------- */
/* -------------  Footer : Legal Notices, Contacts ------------- */
/* ------------------------------------------------------------- */

    footer {
        display: flex;
        margin-top: -6rem;
        padding-left: 1rem;
    }

    footer .contacts,
    footer .copyright {
        padding-left: 0;
    }
}